.container {
    width: 100%;
    background: #00000008;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.thumbnail {

    img {
        width: 100%;
    }

}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 110px;
    padding: 15px 23px;

    .name {

    }

    .price {

    }
}



