.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: inset 0 -1px 0 0 #eaeaea;
    background: rgba(255, 255, 255, .8);
}

.container {
    display: flex;
    padding: 0 16px;
    max-width: 1170px;
    margin: 0 auto;
    height: 64px;
}

@media (min-width: 992px) {
    .container {
        padding: 0 32px;
    }
}



