.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.pageTitle {
    font-size: 1.25rem;
    font-weight: 700;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}