.container {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}